<!--
<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Easy Edu HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	 Styles 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
</head>
-->
<!--<body>-->
	<div class="theme-layout">
		

		


		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-9"> 
							<div class="detail-page">
								<div class="course-info">
									<span><i>Category:</i> Graphic Designing</span>
									<span><i>Class Size: </i> 33</span>
								</div>
								<h1 class="post-title">Knowledge Exchange, Student Meetings & Games</h1>
								<div class="abt-course">
									<div class="course-teacher">
										<img src="http://placehold.it/60x60" alt="" />
										<strong>Teacher: <i>Rebeca Adams </i></strong>
									</div>
									<div class="review">
										<strong>Review:</strong>
										<i class="fa fa-star fill"></i> <i class="fa fa-star fill"></i> <i class="fa fa-star fill"></i> <i class="fa fa-star fill"></i> <i class="fa fa-star"></i>
									</div>
									<a class="button active " href="#" title="">Enroll For This</a>
								</div><!-- About Course -->
								<div class="single-post-img">
									<span class="course-price">$450.00</span>
									<img src="http://placehold.it/870x423" alt="" />
								</div>

								<p>Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut lab ore et dolore magna aliquyam erat, sed diam Demo Label. Avero eos et accusam et justo duo dolores. At vero eos et accusam et justo duodolores et ea rebum. Lorem ipsum dolor sit amet conse ctuere colorado secrets Resorts & Spas offer adults. Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque. Cras facilisis quam sed rhoncus dapibus. Quisque lorem enim, dictum at magna eu, hendrerit hendrerit arcu. Etiam vulputate ac tortor ac gravida. Proin accumsan placerat rutrum. Praesent ut eros ac nisi ultrices rhoncus et.</p>

								<p>Nulla fermentum eros vitae est finibus dapibus. Aliquam porta nulla a elit varius efficitur. In in magna sed turpis venenatis tristique eu eget neque. Duis condimentum libero ornare quam tincidunt interdum. Phasellus porttitor nisi ut lectus pellentesque, ut fringilla leo convallis. </p>

								<h3>REQUIERMENTS:</h3>

								<p>Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus.</p>

								<div class="row">
									<div class="col-md-6">
										<ul>
											<li>Magna risus vehi augue</li>
											<li>Facilisis magna risus</li>
											<li>Dolor sit ametconse ctetur</li>
											<li>Ametconse ctetur adipis</li>											
										</ul>
									</div>
									<div class="col-md-6">
										<ul>
											<li>Ametconse ctetur adipis</li>
											<li>Dolor sit ametconse ctetur</li>
											<li>Facilisis magna risus</li>
										</ul>
									</div>
								</div>
							</div><!-- Detail Page -->						

							<div class="tags-share">
								<div class="tags">
									<strong class="gray-small-title">Tags</strong>
									<a href="#" title="">Graphic Design,</a> <a href="#" title="">Photoshop,</a> <a href="#" title=""> Websites,</a> <a href="#" title=""> Photography,</a> <a href="#" title="">Articles</a>
								</div><!-- Tags -->

								<div class="share-post">
									<strong class="gray-small-title">Share This:</strong>
									<a href="#" title=""><i class="fa fa-tumblr"></i></a>
									<a href="#" title=""><i class="fa fa-facebook"></i></a>
									<a href="#" title=""><i class="fa fa-twitter"></i></a>
								</div><!-- Share -->
							</div><!-- Tags & Share -->

							<div class="edu-author inst">
								<img src="http://placehold.it/170x170" alt="" />
								<div class="author-detail">
									<span>About Instructor</span>
									<h4>Maria Lehman <i>IT Expert</i></h4>
									<p>Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna ali et accusam et justo duo dolores. At vero eos et accusam et justo.</p>
									<div class="connected">
										<strong>Stay Connected</strong>
										<a href="#" title=""><i class="fa fa-facebook"></i></a>
										<a href="#" title=""><i class="fa fa-twitter"></i></a>
										<a href="#" title=""><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div><!-- Edu Author -->


							<div class="comments-form">
								<div class="simple-title">
									<i>Please Leave Your Thinking</i>
									<h2>Leave a Comment</h2>
								</div>

								<form>
									<div class="row">
										<div class="col-md-6"><input type="text" placeholder="Full Name" /></div>
										<div class="col-md-6"><input type="text" placeholder="Full Name" /></div>
										<div class="col-md-12"><input type="text" placeholder="Full Name" /></div>
										<div class="col-md-12"><textarea placeholder="Detail"></textarea></div>
										<div class="col-md-12"><button class="button active">Comment Now</button></div>
									</div>
								</form>
							</div>	
						</div>

				
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="block gray">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="logos-carousel">
								<a href="#" title=""><img src="http://placehold.it/145x53" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/145x53" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/145x53" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/145x53" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/145x53" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/145x53" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/145x53" alt="" /></a>
							</div><!-- Logos Carousel -->
						</div>
					</div>
				</div>
			</div>
		</section>

	
	</div>


<!--

	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/html5lightbox.js"></script>
	<script src="js/script.js" type="text/javascript"></script>
-->
<!--
</body>
</html>
-->

